h1 {
	font-family: var(--font-rusoile), sans-serif;
	font-size: 90px;
	line-height: 90px;
	font-weight: 400;
	text-shadow: 0px 0px 80px rgba(0, 133, 255, 0.40);
}

h2{
	font-family: var(--font-rusoile), sans-serif;
	font-size: 68px;
	line-height: 68px;
	font-weight: 400;
	text-shadow: 0px 0px 80px rgba(0, 133, 255, 0.40);
}

.subtitle_XL{
    font-size: 40px;
    line-height: 40px;
    font-weight: 700;
}
.subtitle_L{
    font-size: 32px;
    line-height: 32px;
    font-weight: 700;
}
.subtitle_M{
    font-size: 24px;
    line-height: 24px;
    font-weight: 600;
}
.subtitle_S{
    font-size: 20px;
    line-height: 140%;
    font-weight: 500;
}
.body-paragraph_L{
    font-size: 18px;
    line-height: 140%;
    font-weight: 400;
}
.body-paragraph_M{
    font-size: 16px;
    line-height: 140%;
    font-weight: 400;
}
.body-paragraph_S{
    font-size: 14px;
    line-height: 140%;
    font-weight: 400;
}

.caption_L{
    font-size: 12px;
    line-height: 100%;
    font-weight: 500;
}
.caption_M{
    font-size: 10px;
    line-height: 100%;
    font-weight: 400;
}



@media only screen and (max-width: 1024px) {

	h1{
		font-size: 60px;
		line-height: 64px;
	}
	h2{
		font-size: 40px;
		line-height: 44px;
	}

    .subtitle_XL{
        font-size: 32px;
        line-height: 32px;
    }

    .subtitle_L{
        font-size: 28px;
        line-height: 28px;
    }
    .subtitle_M{
        font-size: 22px;
        line-height: 22px;
        font-weight: 600;
    }
    .subtitle_S{
        font-size: 18px;
    }
    .body-paragraph_L{
        font-size: 16px;
    }

}

@media only screen and (max-width: 640px) {
	h1{
		font-size: 34px;
		line-height: 34px;
	}
	h2{
		font-size: 28px;
		line-height: 28px;
	}

    .subtitle_XL{
        font-size: 24px;
        line-height: 24px;
       
    }

    .subtitle_L{
        font-size: 20px;
        line-height: 20px;
    }
    .subtitle_M{
        font-size: 18px;
        line-height: 18px;
    }
    .subtitle_S{
        font-size: 16px;
    }
    .body-paragraph_M{
        font-size: 14px;
    }

}
